<body>
<div style="text-align:center">
  <h1 title="20 Question Maths Quiz">
    Welcome to {{title}}!!<br><button (click)="scoreboard();visible()"><h3>{{vis}}</h3></button>
  </h1>
  <table title="Scoreboard" border="3px" [hidden]="scoreboardview">
    <tr>
      <th>Entry</th>
      <th>Name</th>
      <th>Score</th>
      <th>Time Left</th>
    </tr>
    <tr *ngFor="let o of scorelist; let i = index">
      <td>{{i+1}}</td>
      <td>{{o.name}}</td>
      <td>{{o.score}}</td>
      <td>{{o.time}}</td>
    </tr>
    <!--<tr>
      <td>2</td>
      <td>Greg</td>
      <td>16</td>
      <td>42</td>
    </tr>-->
  </table>
  <img title="Maths" width="250" src="http://www.allansmagic.com/schools/photos/maths.jpg" />
</div>
<h2 title="Rules" style="text-align:center">
  This is John's 20 Question Maths Quiz. It includes addition and subtraction by default. <br>
  You have a time limit of 2 minutes. Try to answer as many questions as you can! <br>
  After inserting your name, please select if you would like to include division or multiplication, then click begin!
</h2>
<h2>
  <form action="/action_page.php" method="get">
    <input (click)="division()" type="checkbox" [disabled]="start" [disabled]="clickdivide" [checked]="clickdivide"> Allow Division (Difficult)<br>
    <input (click)="multiply()" type="checkbox" [disabled]="start" [disabled]="clickmultiply" [checked]="clickmultiply"> Allow Multiplication
  </form>
  <h3 style="text-align:center"> Please insert your name:<input [(ngModel)]="name"></h3>
</h2>
<p style="text-align:right">
  <button (click)="restart();timer()" [hidden]="nameinput"><h2>Restart</h2></button>
</p>
<p style="text-align:center">
  <button (click)="questions();timer()" onclick="this.hidden=true;this.form.submit"><h1>Begin the Quiz!</h1></button>
</p>
<h3 style="text-align:right">
  Time left: {{t}} seconds
</h3>

<!--                    <input [(ngModel)]="title">                          -->

<p style="text-align:center" *ngFor="let q of questionlist; let i = index">
  {{i+1}}: {{q}} = <input [(ngModel)]="studAnslist[i]" [disabled]="disable"> <img width="10" [hidden]="nameinput" src="{{img[i]}}"/><br>
</p>

<!--           <p *ngFor="let a of answerlist">{{a}}</p>                     -->

<p style="text-align:center" [hidden]="done"><button (click)="marks();tick()"><h1>Mark it!</h1></button></p>
<h2>Your score is {{score}}</h2>
</body>
